<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Новости <%= category %></title>
</head>
<body>
    <h3><%= news.length %> последних новостей в категории <%= category %></h3>
    <dl>
        <% news.forEach(function(item) { %>
            <dt><a href="<%= item.link %>" target="_blank"><%= item.title %></a></dt>
            <dd><%= item.description %></dd>
        <% }) %>
    </dl>
</body>
</html>
